body {
    background: rgb(172, 161, 248);
    font-size: 20px;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.photo2 {border-radius: 20px;}.photo3 {border-radius: 20px;}.photo4 {border-radius: 20px;}.photo5 {border-radius: 20px;}.photo6 {border-radius: 20px;}
.photo7 {border-radius: 20px;}.photo8 {border-radius: 20px;}.photo9 {border-radius: 20px;}.photo10 {border-radius: 20px;}.photo11 {border-radius: 20px;}
.photo12 {border-radius: 20px;}
.info27 { padding: 15px 20px;
background:  aqua;margin-bottom: 20px;
border-radius: 20px;}
.card  {padding: 15px 20px; 
background: aquamarine; margin-bottom: 20px;
border-radius: 20px; }
.card2 { padding: 15px 20px; background: rgb(230, 173, 100); margin-bottom: 20px; border-radius: 20px; }
.card3 {  background: rgb(124, 6, 235);  border-radius: 20px;}